body {background-color: #F7F1FF;
    font-family: 'Kantumruy Pro', sans-serif;}

#mainsectioncontainer {
display: flex;
justify-content: center;
min-width: 100vw;
}

#mainsection {
background-color: white;
width: 80vw;
border-radius: 35px;}

#mainsectioncontent {
    margin-left: 100px;
    margin-right: 100px;
    }

.headingwithicon {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #8029ED;
    display: flex;
    align-items: center;
}
.icon {height: 75px;
margin-right: 25px;}

.imageholder {
  display: flex;
  justify-content: center;}
 
  .img1 {width: 40vw;}

.smallimage{width: 10vw;
margin-left: 4vw;
margin-right: 4vw;}


