
.NavItemHolder {display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
transition: all 0.3s;;}

.Navitem:active {
    transform: scale(0.95); 
    color: #999; 
  }

  .Navitem:active .line {
    background: #999; 
  }

.Navitem {
    font-family: 'Gabarito', sans-serif;
    font-size: 64px;
    text-decoration: underline;
    cursor: pointer;
  
    position: relative;
    display: flex;
justify-content: center;
align-items: center;

}

@media screen and (max-width: 768px) {

    .Navitem {
        font-size: 36px;
    }
}

.line {
    width: 0;
    height: 10px;
    background: black;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-1px); 
    transition: width 0.3s, left 0.3s; 
}



@media screen and (max-width: 768px) {

    .line {
        height: 7px;
    }
}


.Navitem:hover .line {
    width: 25vw; 
    left: 100%; 
}

#Info {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Gabarito', sans-serif;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 35px;
width: 40vw;}

@media screen and (max-width: 768px) {

    #Info {
        width: 80vw;
        padding-left: 10px;
        padding-right: 10px;

    }
}